body {
    background-color: var(--bg-black-color);
}

.swapper {
    background-color: var(--bg-black-color);
    min-height: 81vh;
}

.header__text {
    letter-spacing: 1px;
    font-size: 24px;
    color: var(--main-green-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swapper__container {
    z-index: 10000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left__arrow,
.right__arrow  {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/arrow.png);
}

.left__arrow {
    transform: rotate(180deg);
}

.left__arrow:hover,
.right__arrow:hover {
    scale: 1.1;
    transition: 0.3s;
}

.swapper__content {
    width: 70%;
    height: auto;
    padding: 30px;
    background-color: var(--bg-grey-dark-color);
    border-radius: 10px;
}

.raper__image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-repeat: no-repeat;
    border: 0.5px solid var(--bg-black-color);
}

.two__columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swapper__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.audio__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rapper__biography {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 15px;
}

@media (max-width: 500px) {
    .raper__image {
        width: 50px;
        height: 50px;
    }
}