@font-face {
  font-family: "proxima-nova";
  src: url(../assets/fonts/proximanova_regular.ttf);
}

:root{
  --main-green-color: #1ed760;
  --bg-grey-dark-color: #121212;
  --bg-grey-light-color: #181818;
  --bg-black-color: #000;
  --text-white-color: #fff;
  --text-grey-color: #b2b2b2;
}

body {
  margin: 0;
  font-family: "proxima-nova";
  color: var(--text-grey-color);
  font-size: 14px;
}

.warpper {
  margin: 0;
}

.header {
  width: 100%;
  background-color: #181818;
  z-index: 10;
}

.header__wapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_container {
  max-width: 70px;
  margin: 10px 0;
}

.img_logo {
  width: 100%;
  height: 100%;
}

.img_logo:hover {
  opacity: 0.5;
  transition: .3s;
}

.ul_menu {
  display: flex;
}

.menu-item {
  list-style-type: none;
  padding: 0 20px;
}

.menu-item:hover {
  transition: 0.5s;
  padding: 0 21px;
  scale: 1.04;
}

.ul_font {
  letter-spacing: 1px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: var(--text-grey-color);
  text-decoration: none;
}

.ul_font:hover {
  color: var(--text-white-color);
  transition: color .4s ease-out;
}

@media (max-width: 815px) {
  .video {
    position: absolute;
    min-height: 600px;
    right:  300px;
  }
}

.video {
  background-size: cover;
  position: relative;
  padding-bottom: 57%;
}

.video__media {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.flogo{
  width: 24px;
  height: 24px;
  margin: 0 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}


.intro {
  height: auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
}

.intro:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.start_btn {
  background-color: transparent;
  width: 150px;
  height: 65px;
  border: none;
  align-items: center;
  border: 1px solid #111115;
}

.start_btn:hover {
  background-color: #111115;
  transition: .2s all ease-in-out;
}

.start_btn_container {
  z-index: 10;
  align-items: center;
  width: 150px;
  margin: 0 auto;
}

.btn_font {
  font-size: 1.5em;
  color: var(--main-green-color);
}

.btn_arrow {
  color: white;
}

.git_logo {
  width: 75px;
  height: 75px;
}

.rs_logo {
  width: 150px;
  height: 55px;
}

.git_logo:hover {
  transition: 0.3s;
  background-color: var(--main-green-color);

}

.rs_logo:hover {
  transition: 0.3s;
  background-color: var(--main-green-color);

}

.footer_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-green-color);
  color: var(--text-white-color);
}

@media (max-width: 1100px) {
  .ul_font {

    font-size: 18px;
  }

  .menu-item {
    list-style-type: none;
    padding-right: 15px;
  }

  .git_logo {
    width: 35px;
    height: 35px;
  }

  .rs_logo {
    width: 75px;
    height: 25px;
  }

  .logo_container {
    max-width: 50px;
  }

  .gratitude__footer {
    display: none;
  }
}

#question {
  display: none;
}

.preloader {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #111115;
  position: fixed;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 0.8em; /* ширина для вертикального скролла */
}

::-webkit-scrollbar-thumb { /* ползунок скроллбара */
  background-color: var(--text-grey-color);
  opacity: 0.7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
