.question-number {
  margin-bottom: 50px;
}

.quiz-over-modal {
  height: 453px;
  padding: 15px 0 15px 0px;
  max-width: 1980px;
  width: 100%;
  background-color: #0c0c0e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide_element {
  display: none;
}

.result_header {
  color: var(--main-green-color);
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 500;
}

#number-of-all-questions-2 {
  color: var(--main-green-color);
}

#btn-try-again {
  cursor: pointer;
  background-color: var(--bg-grey-light-color);
  color: var(--main-green-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 500;
}

#btn-try-again:hover {
  opacity: 0.3;
  transition: 0.3s;
}

.header__context {
  color: aliceblue;
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.started__message {
  margin-top: 10px;
  padding: 120px 90px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 20px;
  background-color: #252525;
  margin-bottom: 15px;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  margin: 0;
  padding: 0;

}

.quiz-container {
  display: flex;
  flex-direction: column;
  max-width: 1980px;
  width: 100%;
  min-height: 80vh;
  background-color: #0c0c0e;
}

.control_panel {
  border-top: 1px solid #252525;
  padding: 20px;
  background-color: var(--bg-grey-light-color);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.panel1,
.panel2,
.panel3,
.panel4,
.panel5,
.panel6 {
  margin: auto;
  cursor: pointer;
  color: var(--text-grey-color);
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

.level:hover {
  color: var(--text-white-color);
  transition: color .2s ease-out;
  text-decoration: underline;
}

.active_panel {
  text-decoration: none !important;
  transition: color .5s ease-out;
  color: var(--main-green-color) !important;
  cursor: default;
}

.qust_hud {
  display: none;
}

.bottom_fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.row_answer {
  justify-content: space-evenly;
}

.question_hud_container {
  z-index: 0;
  border-top: 0.7px solid #303030;
  background-color: var(--bg-grey-light-color);
  display: flex;
  padding: 30px 0;
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;
}

.hidden_card {
  border: rgba(240, 248, 255, 0) 1px solid;
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background: url(../assets/images/question.jpg);
  background-size: 100%;
}

.answers_hud_container {
  z-index: 1;
  background-color: var(--bg-grey-light-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0;
  margin-left: 260px;
  margin-right: 20px;
  width: auto;
  max-width: 1920px;
}

.button {
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
}

.btn-next {
  z-index: 10;
  cursor: pointer;
  color: var(--text-grey-color);
  background: var(--bg-grey-dark-color);
  border: none;
  border-radius: 6px;
  align-items: center;
  padding: 5px 100px;
  margin-right: 0;
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.btn-active:hover {
  opacity: 0.6;
  transition: .4s;
}

.btn-active {
  transition: .3s;
  color: #000000;
  background-color: var(--main-green-color);
}

.option {
  width: 320px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  cursor: pointer;
  color: aliceblue;
  letter-spacing: 1px;
  background-color: #252525;
  border-radius: 15px;

}

.options {
  align-items: center;
}

.wrong {
  transition: 0.3s;
  color: #b31313;
  background-color: var(--bg-grey-dark-color);
}

.correct {
  transition: 0.3s;
  color: rgb(64, 117, 64);
}
.play__button1,
.play__button {
  background-color: var(--main-green-color);
}
.nav {
  /* height: 80px; */
  width: 626px;
  max-width: 100%;
}

.play__container {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.volume__container {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.default__bar,
.default__bar1 {
  width: 640px;
  max-width: 100%;
  height: 10px;
  position: relative;
  background-color: rgb(102, 102, 102);

}

.progres__bar,
.progres__bar1 {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-green-color);
  width: 0;

}

.buttons1 {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two__rows {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 7px 0 0px 7px;
}

.footer__span {
  margin-top: 0px;
  padding-left: 80px;
  cursor: default;
  letter-spacing: 1px;
  color: var(--text-white-color);
  font-size: 1.5em;
}

.play__button,
.play__button1,
.mute__button,
.mute__button1{
  color: var(--main-green-color);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-image: url("../assets/images/play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin: 0 10px 0 5px;
}

.play__button,
.play__button1:active,
.mute__button,
.mute__button1:active {
  position: relative;
  top: 2px;
}

.play__button:hover,
.mute__button:hover {
  filter: drop-shadow(0px 0px 8px black);
  transition: 0.3s;
}

.mute__button1:hover,
.play__button1:hover {
  filter: drop-shadow(0px 0px 4px black);
  transition: 0.3s;
}

.option:hover {
  opacity: 0.4;
  transition: 0.3s;
}

.input_range {
  width: 620px;
}

input[type=range] {
  height: 4px;
  color: var(--main-green-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  background: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px/100%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
}

.two_colums {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.hidden_name {
  padding-left: 20px;
  padding-bottom: 10px;
  color: aliceblue;
  letter-spacing: 0px;
  font-style: normal;
  letter-spacing: .5px;
  font-weight: 800;
  font-size: 16px;
}

.whire {
  padding: 0px 5px 0 0px;
  font-size: 11px;
}

.tracker {
  padding: 2px 0px 0 10px;
  font-size: 14px;
  color: #ffffff;
}

.two_raws {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.score {
  color: var(--text-white-color);
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.rapper_name {
  color: var(--text-white-color);
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.rapper__bio {
  height: auto;
  padding: 10px 0px 10px 5px;
  color: aliceblue;
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
  /* ширина для вертикального скролла */
  height: 5px;
  /* высота для горизонтального скролла */
  background-color: #111115;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #111115;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px var(--main-green-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111115;
}

.rapper__img {
  border: 2px solid;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.rapper__img_contaier {
  align-items: center;
  justify-content: start;
  display: flex;
}

.container_two_columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

/* ////////////////////// */
.about_rapper {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  transition: 0.3s;
}

.nav__player {
  height: 50px;
  width: 295px;
  max-width: 100%;
}

.about__container {
  transition: 0.3s;
}

.rapper__photo {
  margin: 5px 0 5px 0;
  border: rgb(102, 102, 102) 1px solid;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background: url(../assets/images/question.jpg);
  background-size: 100%;
}

.nav__player1 {
  border-radius: 15px;
  display: flex;
  height: 65px;
  width: 205px;
  max-width: 100%;
  justify-content: center;
  flex-direction: row;
}

.font {
  color: aliceblue;
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.current__time1,
.current__duration1 {
  display: none;
}

.default__bar1 {
  display: none;
}

.rapper__song {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__spaN:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.footer__spaN:after {
  display: block;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #ffffff;
  content: "";
  transition: width 0.3s ease-out;
}

.footer__spaN:hover:after,
.footer__spaN:focus:after {
  width: 101%;
}

@media (max-width: 1100px) {

  .panel1,
  .panel2,
  .panel3,
  .panel4,
  .panel5,
  .panel6 {
    font-size: 12px;
  }

  .question-number {
    margin-bottom: 20px;
  }

  .play__button1 {
    background-color: var(--main-green-color);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url(../assets/images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin: 0 10px 0 5px;
  }

  .play__button {
    background-color: var(--main-green-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 30px;
    background-image: url(../assets/images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin: 0 10px 0 5px;
  }

  .answers_hud_container {
    margin: 0 20px;
  }

  .option {
    width: auto;
    padding: 15px 30px;
  }


  

  .footer__span {
    margin-top: 0px;
    padding-left: 0px;
    cursor: default;
    letter-spacing: 1px;
    color: var(--main-green-color);
    font-family: helvetica;
    font-size: 14px;
  }

  .active_panel {
    font-size: 10px;
    color: var(--main-green-color);
  }

  .nav {
    width: 500px;
    max-width: 100%;
  }

  .hidden_card {
    width: 166px;
    height: 166px;
    background: url(../assets/images/question.jpg);
    background-size: 100%;
  }
}

.rapperSong_active {
  display: flex;
  justify-content: center;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #111115;
  border: 1px solid rgb(255, 255, 255);
}

.hidden_card:hover {
  transition: 60s;
}

@media (max-width: 880px) {
  .font {
    font-size: 9px;
  }
  .answers_hud_container{
    z-index: 30;
  }
  .hidden_card{
    z-index: 1;
  }
  .progress1 {
    width: 50px;
  }

  /* .answers_hud_container {
    height: 600px; */
  .score {
    font-size: 20px;
  }

  

  .rapper__img {
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .tracker {
    padding: 2px 0px 0 10px;
    font-size: 9px;
    color: #ffffff;
  }

  .option {
    margin: 10px 5px;
  }

  .started__message {
    margin-left: 10px;
  }

  .answers_hud_container {
    justify-content: start;
  }

  .mute__button,
  .mute__button1 {
    background-color: var(--main-green-color);
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    background-image: url(../assets/images/unmuted.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  .play__button,
  .play__button1 {
    background-color: var(--main-green-color);
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-image: url(../assets/images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  .nav {
    height: 50px;
    width: 500px;
    max-width: 100%;
  }

  .nav__player1 {
    border-radius: 10px;
    display: flex;
    height: 40px;
    width: 125px;
    justify-content: center;
  }

  .input_range {
    width: 30%;
  }

  .volume {
    width: 50px;
    background-color: var(--main-green-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
  }

  input[type=range]::-webkit-slider-thumb {
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px/100%;
    cursor: pointer;
    width: 5px;
    height: 5px;
    -webkit-appearance: none;
  }

  .active_panel {
    color: var(--main-green-color);
  }
}

@media (max-width: 700px) {
  .question_hud_container {
    padding: 0;
  }
  .answers_hud_container{
    z-index: 0;
  }
  .hidden_card{
    z-index: 99999;
  }

  .play__container {
    justify-content: end;
    scale: auto;
  }

  .two__rows {
    flex-direction: column;
    align-items: center;
  }

  .two_raws {
    flex-direction: column !important;
    align-items: end;
    justify-content: end;
  }

  #hidden_card {
    position: fixed;
    bottom: 0;
    height: 118px;
    width: 118px;
  }

  .option {
    width: 100%;
    padding: 0;
  }

  .rapper__bio,
  .rapper_name {
    font-size: 14px;
    margin: 5px;
  }

  .seek_under500 {
    display: flex;
    font-size: 20px;
  }

  .hide_under500 {
    display: none;
  }
}

/*PRELOADER*/
.preloader {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #111115;
  position: fixed;
  z-index: 1;
}


@keyframes ldio-y5epx1c1hmn {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}


.ldio-y5epx1c1hmn>div:nth-child(2),
.ldio-y5epx1c1hmn>div:nth-child(4) {
  width: 118px;
  height: 118px;
  top: 41px;
  left: 41px;
  animation: ldio-y5epx1c1hmn 1s linear infinite reverse;
}

.ldio-y5epx1c1hmn>div:nth-child(2) {
  border-color: transparent #000000 transparent #000000
}

.ldio-y5epx1c1hmn>div:nth-child(3) {
  border-color: transparent
}

.ldio-y5epx1c1hmn>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-y5epx1c1hmn>div:nth-child(3) div:before,
.ldio-y5epx1c1hmn>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -6px;
  left: 58px;
  background: #7f0000;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #7f0000;
}

.ldio-y5epx1c1hmn>div:nth-child(3) div:after {
  left: -6px;
  top: 58px;
  box-shadow: 128px 0 0 0 #7f0000;
}

.ldio-y5epx1c1hmn>div:nth-child(4) {
  border-color: transparent;
}

.ldio-y5epx1c1hmn>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-y5epx1c1hmn>div:nth-child(4) div:before,
.ldio-y5epx1c1hmn>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -6px;
  left: 50px;
  background: #000000;
  border-radius: 50%;
  box-shadow: 0 112px 0 0 #000000;
}

.ldio-y5epx1c1hmn>div:nth-child(4) div:after {
  left: -6px;
  top: 50px;
  box-shadow: 112px 0 0 0 #000000;
}

.loadingio-spinner-double-ring-9fa3q7he3f {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #111115;
}

.ldio-y5epx1c1hmn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}